server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: backend

  profiles:
    active: dev
    include: secret

  web:
    resources:
      add-mappings: false

  output:
    ansi:
      enabled: always

  jackson:
    serialization:
      fail-on-empty-beans: false

  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      auto-commit: false

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight_sql: true
        use_sql_comments: true

logging:
  level:
    io.river.backend: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc:bind: TRACE
    org.hibernate.orm.jdbc:extract: TRACE
    org.springframework.transaction.interceptor: TRACE

custom:
  dev:
    cookieDomain: localhost
    frontUrl: "http://${custom.dev.cookieDomain}:3000"
    backUrl: "http://${custom.dev.cookieDomain}:${server.port}"

  prod:
    cookieDomain: app1.onep.shop
    frontUrl: "https://www.${custom.prod.cookieDomain}"
    backUrl: "https://api.${custom.prod.cookieDomain}"

  site:
    cookieDomain: "${custom.dev.cookieDomain}"
    frontUrl: "${custom.dev.frontUrl}"
    backUrl: "${custom.dev.backUrl}"
    name: APP1
